body{
	margin:0;
	padding:0;
	font-family: Calibri;
}
h1,h2,h3,h4,h5,h6{ 
	margin: 0; padding: 0.25em;
}
ul{ 
	list-style: none; 
}
.no-color{
	background:#9395d3;
}
.header{
	position:fixed;
	top: 0;
	width: 100%;
	height: 5vh;
	grid-area: 1 / 1 / 2 / 11;
	background: #5558b4;
	display:grid;
	grid-template-columns:auto auto auto auto auto auto auto auto auto auto;
	grid-template-rows: auto;
	justify-items:center;
	align-items:center;
}
.header-item {
	border: 3px 0 0 0 solid white;
	background:transparent;
	list-style:none;
}
.header-item a {
  	text-decoration: none;
  	color: #fbf9ff;
}
.header-item a:hover {
	text-decoration: underline;
	color: #fbf9ff;
}
.header-item a:hover:before {
	transform: scaleY(1);
  	opacity: 1;
}
.header-item a:hover:after {
	transform: scaleY(1);
  	opacity: 1;
}

.button-link{
	background-color: #5558b4;
	color: #fbf9ff;
	outline: none;
	border: none;
}

.button-link:hover{
	text-decoration: underline;
}
.button-submit{
	background-color: #5cb85c;
	color: white;
	outline: none;
	border: none;
	padding: 0.5em;
	border-radius: 10px;
}

.header-logo{
	position:relative;
	left:250%;
	top:0;
	color:white;
	font-family: sans-serif;
}
.col-left{
	grid-area: 1 / 1 / 11 / 2;
	background: #fbf9ff;
	margin:0;
	padding:0;
}
.col-left ul{
	padding: 0;
	list-style-type: none;
}
.col-left-title{
	color: #5558b4;
	margin-left:10%;
	margin-top:10%;
	
}
.col-left-item{
	width:100%;
}
.col-left-item a{
	display:block;
	padding: 10px 0px;
	color:black;
	text-align: center;
	background: linear-gradient(to right, #fbf9ff 50%, #9395d3 50%);
    	background-size: 200% 100%;
    	background-position:left bottom;
    	transition:all 2s ease;
	font-size: 1.5em;
	font-weight: 600;
	text-decoration: none;
	transition: .25s;
	z-index: -1;
}
.col-left-item a:hover{
	color: #fbf9ff;
	background-position:right bottom;
}
.col-center{
	height:100%;
	grid-area: 1 / 2 / 11 / 9;
	background: #9395d3;
	text-align: center;
	color: #fbf9ff;
}
.col-center-item{
	margin:1em;
}
.col-right{
	grid-area: 1 / 9 / 11 / 11;
}
.grid-container{
	padding:0;
	display: grid;
	margin-top: 5vh;
	grid-template-rows: 1fr fit-content(20%);
	grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
	height: 95vh;
	width: 100vw;
}
.totals, .totals-price{
	text-transform: uppercase;
	font-size: 1.5em;
}
.btn-gradient-green{
	background: #FBF33C;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(45deg, #119DA4, #04B46D ,  #FBF33C);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(45deg, #119DA4, #04B46D ,  #FBF33C);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	 padding: 0.5em;
            border-radius: 10px;
            border: none;
            color: white;
	font-size: 1em;
	font-weight: 600;
}
.btn-gradient-orange{
            background: #FFC700;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(45deg, #FF1F01,#FD5D1B , #FFC700);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(45deg, #FF1F01,#FD5D1B ,  #FFC700);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            padding: 0.5em;
            border-radius: 10px;
            border: none;
            color: white;
	font-size: 1em;
	font-weight: 600;
}
.btn-tertiary{
	background: transparent;
	border: 3px solid white;
	color: white;
	border-radius: 10px;
	font-size:1em;
	font-weight:600;
	padding:0.5em;
}
.btn-wrapper{
	padding: 5px;
	margin-right:0px;
}
.btn-wrapper button{
	width: 180px;
}
.btn-wrapper-green button:hover{
	box-shadow: 0px 0px 0px 3px #04B46D;
	background: white;
	color: #04B46D;
	transition: all 250ms linear;
}
.btn-wrapper-orange button:hover{
	background: white;
	color: #FD5D1B;
	transition: all 250ms linear;
}
.btn-wrapper-tertiary button:hover{
	background: white;
	color: #5558b4;
	transition: all 250ms linear;
}
.btn-wrapper button:hover{
	transform: scale(1.08);
}
.btn-wrapper button:active{
	outline: none;
	transform: scale(0.92);
	transition: all 100ms linear;
}
.btn-wrapper button:focus{
	outline: none;
}

.table-striped{
	border-collapse: collapse;
	width:100%;
}
.table-striped td{
	padding: 10px;
}
.table-striped tr:nth-child(odd){
	background: white;
	color: #5558b4;
}
.table-striped tr:nth-child(even){
	background: #ADAFED;
	color: #fbf9ff;
}
.table {
	width: 70%;
	position: relative;
	margin:auto;
	border-collapse:collapse;
}
.tbody {
  height: 200px;
  overflow: scroll;
}

.row {
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-columns: min-content;
  grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
  font: Verdana;
  font-size: 20px;
  margin-right:1px;
}

.tbody > .row {
	padding: 5px;
}

.thead > .row > div {
  font-weight: bold;
  background: #6062a0;
  padding: 10px;
}
input{
	text-align: center;
	margin:auto;
	font-weight: 600;
	font-size: 1em;
	border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
	border-radius: 0.1em;
}
.number{
	width:20%;
}
.tbody > .row:nth-child(odd) > div > input {
  background:transparent;
  color:white;
  
}
.tbody > .row:nth-child(odd) > div > input:active {
  background:transparent;
  color:white;
  outline:none;
  box-shadow: -1px 0px white;
}
.thead > .row{
	margin-top: 0px;
	margin-bottom: 0px;
}
.tbody .row:nth-child(even){
	background: white;
	color: #5558b4;
}
.finished-title{
	padding: 20px; 
	color: white; 
	background: #FBF33C;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(45deg, #119DA4, #04B46D ,  #FBF33C);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(45deg, #119DA4, #04B46D ,  #FBF33C);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#cash{
	text-align: center;
	padding: 5px;
	font-size:15px;
}

